<h2>Customers</h2>

<p-table
  #dt1
  [value]="customers"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
  [globalFilterFields]="['name', 'surname', 'telNumber', 'email']"
>
  <ng-template pTemplate="caption">
    <div style="display: flex; justify-content: space-between">
      <button (click)="showDialog()">Add New Customer</button>
      <span class="p-input-icon-left">
        <!-- <i class="pi pi-search"></i> padidinimo stiklas -->
        <input
          #inputTemp
          pInputText
          type="text"
          pInputText
          placeholder="Search keyword"
          position="right"
          (input)="dt1.filterGlobal(inputTemp.value, 'contains')"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr></tr>
    <tr>
      <th class="hidden">ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth Date</th>
      <th>Telephone Number</th>
      <th>E-mail</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.surname }}</td>
      <td>{{ customer.birthDate }}</td>
      <td>{{ customer.telNumber }}</td>
      <td>{{ customer.email }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary"> </ng-template>
</p-table>

<app-pop-up-form [display]="this.display"> </app-pop-up-form>
