<h2>Customers</h2>

<p-table
  [value]="customers"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <button onclick="">Add New Customer</button>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" position="right" />
    </span>
  </ng-template>
  <ng-template pTemplate="header">
    <tr></tr>
    <tr>
      <th class="hidden">ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth Date</th>
      <th>Telephone Number</th>
      <th>E-mail</th>
    </tr>
    <!-- *ngFor="let customer of customers" -->
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.surname }}</td>
      <td>{{ customer.birthDate }}</td>
      <td>{{ customer.telNumber }}</td>
      <td>{{ customer.email }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary"> Footer </ng-template>
</p-table>

<!-- <app-pop-up-form> </app-pop-up-form> -->
