<p-table styleClass="p-datatable-gridlines" responsiveLayout="scroll">
  <ng-template pTemplate="caption"> <button>Add</button> </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth Date</th>
      <th>Telephone Number</th>
      <th>E-mail</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary"> Footer </ng-template>
</p-table>
